<!-- <div class="container mt-5">
    <h2 style="text-align: center;">Transaction List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions">
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.Comments }}</td>
            <td><a [routerLink]="['/transaction-details', transaction.id]">View</a></td>
        </tr>
        </tbody>
    </table>
</div> -->

<div class="container mt-5">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Comments</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.id }}</td>
          <td>{{ transaction.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ transaction.Comments }}</td>
          <td><a [routerLink]="['/transaction-details', transaction.id]">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>